<?xml version='1.0' encoding='us-ascii'?>
<robot name="abtgvz">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/visual/picture-abtgvz-base_link.obj" scale="1.0 1.0 1.0" />
         </geometry>
      </visual>
      <collision name="picture-abtgvz-base_link-0">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/picture-abtgvz-base_link-0.obj" scale="0.09630903754388509 0.08851656767932625 0.0010536029452655749" />
         </geometry>
      </collision>
   </link>
</robot>