<?xml version='1.0' encoding='us-ascii'?>
<robot name="mylblj">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/visual/flower-mylblj-base_link.obj" scale="1.0 1.0 1.0" />
         </geometry>
      </visual>
      <collision name="flower-mylblj-base_link-0">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/flower-mylblj-base_link-0.obj" scale="0.1934826085737953 0.21148594220096764 0.15300012378999983" />
         </geometry>
      </collision>
      <collision name="flower-mylblj-base_link-1">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/flower-mylblj-base_link-1.obj" scale="0.22667453088108758 0.30161177622739954 0.18214300451000012" />
         </geometry>
      </collision>
      <collision name="flower-mylblj-base_link-2">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/flower-mylblj-base_link-2.obj" scale="0.20091106992491348 0.11592982257619953 0.5209289928999999" />
         </geometry>
      </collision>
      <collision name="flower-mylblj-base_link-3">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/flower-mylblj-base_link-3.obj" scale="0.3460212372826348 0.4405156163526609 0.3681244225400001" />
         </geometry>
      </collision>
   </link>
</robot>