<?xml version='1.0' encoding='us-ascii'?>
<robot name="agveuv">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/visual/apple-agveuv-base_link.obj" scale="1.0 1.0 1.0" />
         </geometry>
      </visual>
      <collision name="apple-agveuv-base_link-0">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/apple-agveuv-base_link-0.obj" scale="0.08954822413 0.08899828815 0.10694319175999999" />
         </geometry>
      </collision>
   </link>
</robot>