<?xml version='1.0' encoding='us-ascii'?>
<robot name="xydhpd">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/visual/baguette-xydhpd-base_link.obj" scale="1.0 1.0 1.0" />
         </geometry>
      </visual>
      <collision name="baguette-xydhpd-base_link-0">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/baguette-xydhpd-base_link-0.obj" scale="0.06344310139766707 0.09120897981823071 0.025222727920000004" />
         </geometry>
      </collision>
   </link>
</robot>