<?xml version='1.0' encoding='us-ascii'?>
<robot name="mxnwwk">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/visual/bunch_of_bananas-mxnwwk-base_link.obj" scale="1.0 1.0 1.0" />
         </geometry>
      </visual>
      <collision name="bunch_of_bananas-mxnwwk-base_link-0">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-0.obj" scale="0.09971878888655361 0.07895004118854132 0.17861311830616344" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-1">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-1.obj" scale="0.13466981185571125 0.13804110073666997 0.29893597097184044" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-2">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-2.obj" scale="0.09169534838356697 0.08657384230496046 0.1948042121853888" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-3">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-3.obj" scale="0.11213494842964522 0.12904226253788487 0.32130315574537427" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-4">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-4.obj" scale="0.07894835751478269 0.08030478074251501 0.29777656083371595" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-5">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-5.obj" scale="0.0812379259864846 0.09395165993141497 0.2899737364820525" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-6">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-6.obj" scale="0.08525059652794287 0.0498116274155489 0.1298392408490492" />
         </geometry>
      </collision>
      <collision name="bunch_of_bananas-mxnwwk-base_link-7">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/bunch_of_bananas-mxnwwk-base_link-7.obj" scale="0.08506073620052224 0.07354462428390995 0.23845340919398142" />
         </geometry>
      </collision>
   </link>
</robot>