<?xml version='1.0' encoding='us-ascii'?>
<robot name="oiiqwq">
   <link name="base_link">
      <visual>
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/visual/box_of_almond_milk-oiiqwq-base_link.obj" scale="1.0 1.0 1.0" />
         </geometry>
      </visual>
      <collision name="box_of_almond_milk-oiiqwq-base_link-0">
         <origin xyz="0.0 0.0 0.0" />
         <geometry>
            <mesh filename="shape/collision/box_of_almond_milk-oiiqwq-base_link-0.obj" scale="0.07078937794110374 0.07572895506496025 0.2094573529" />
         </geometry>
      </collision>
   </link>
</robot>